@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");


/* 프롬프트 버튼 스타일 변경 */
[data-testid='baseButton-secondary'] {
    border : hidden;
    background-color : transparent;
}
[data-testid='baseButton-secondary'] > div > p {
    font-size : 13px;
    font-family: "Pretendard-Regular";
}
[data-testid=stChatMessageContent] > [data-testid='stVerticalBlockBorderWrapper'] > div > div {
    gap : 0;
}

/* 폰트 변경 */
span, div {
    font-family: 'Pretendard Variable';
    font-weight: 400;
}

p {
    font-family: 'Pretendard Variable';
    font-weight: 600;
}

h1 {
    font-family: 'Pretendard Variable';
    font-weight: 700;
}

h3 {
    font-family: 'Pretendard Variable';
    font-weight: 600;
}

body {
    font-family: 'Pretendard Variable';
    font-weight: 300;
}

input {
    font-family: 'Pretendard Variable';
    font-weight: 300;
}

/* Add, Generate 버튼 스타일 변경 */
[class='row-widget stButton'] {
    display : flex;
    justify-content: flex-end;
}
[data-testid='baseButton-primary'] {
    flex-grow : 1;
}
[data-testid='stExpanderIconCheck'] {
    font-family: "Material Symbols Rounded";
}

/* wrap 처리 */
/* [class='language-plaintext'] {
    display : flex;
} */
[class='language-plaintext'] {
    text-wrap : wrap !important;
}

[data-testid='stText'] > div {
    text-wrap: wrap !important;
}


/* main_title 레이아웃 잡기 */
[class="main_title"] {
    display: flex;
    align-items: flex-end;
    gap : 0;
}

/* main_link 스타일 설정 */
[class="page_links"] {
    display: flex;
    align-items: center;
    gap : 1rem;
}

[class="page_links"] > [class="link"] > a{
    font-family: "Pretendard Variable";
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration : none;
    padding-left : 0.5rem;
    padding-right : 0.5rem;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    line-height : 2;
}
[class="link"] {
    display : flex;
    align-items: center;
}
[class="link"] :hover {
    background-color: rgb(247, 247, 247);
    border-radius: 0.2rem;
}